name: "30-frontend-tests: JavaScript, Jest Unit tests"

on:
  workflow_dispatch:
  pull_request:
    paths: [frontend/**]
  push:
    branches: [main]
    paths: [frontend/**]

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - uses: szenius/set-timezone@v1.2
        with:
          timezoneLinux: "America/Los_Angeles"
      - uses: actions/checkout@v2
        with: 
          fetch-depth: 2
      - name: Use Node.js 16.x
        uses: actions/setup-node@v3.6.0
        with:
          node-version: 16.x
      - run: npm ci
        working-directory: ./frontend
      - run: npm test
        working-directory: ./frontend
    
